<table>
    <tr>
        <td>Name</td>
        <td><%= @team.name %></td>
    </tr>
    <tr>
        <td>Location</td>
        <td><%= @team.location %></td>
    </tr>
    <tr>
        <td>Wins</td>
        <td><%= @wins[1] %></td>
    </tr>
    <tr>
        <td>Looses</td>
        <td><%= @wins[2] %></td>
    </tr>
    <tr>
        <td>Players</td>
        <td>
            <% players = @team.players %>
            <% for a in (0...players.length) %>
                <%= "<li><a href='/player/#{players[a].id}'>#{players[a].name}</a></li>" %>
            <% end %>
        </td>
    </tr>
    <tr>
        <td>Coach</td>
        <td>
            <% coach = @team.coach %>
            <%= "<li><a href='/coach/#{coach.id}'>#{coach.name}</a></li>" %>
        </td>
    </tr>
</table>
