<table>
    <tr>
        <td>Name</td>
        <td><%= @team.name %></td>
    </tr>
    <tr>
        <td>Location</td>
        <td><%= @team.location %></td>
    </tr>
    <tr>
        <td>Wins</td>
        <td><%= @wins[1] %></td>
    </tr>
    <tr>
        <td>Looses</td>
        <td><%= @wins[2] %></td>
    </tr>
    <tr>
        <td>Players</td>
        <td>
            <% players = @team.players %>
            <% if players.length > 0 %>
                <% for a in (0...players.length) %>
                    <%= "<a href='/player/#{players[a].id}'>#{players[a].name}</a>" %>
                <% end %>
            <% else %>
                <p>No players yet</p>
            <% end %>
        </td>
    </tr>
    <tr>
        <td>Coach</td>
        <td>
            <% coach = @team.coach %>
            <% if coach %>
                <%= "<a href='/coach/#{coach.id}'>#{coach.name}</a>" %>
            <% else %>
                <p>No coach yet</p>
            <% end %>
        </td>
    </tr>
</table>
